<div class="wrap">
<footer>
        <div class="left-footer">
            <div>
            <a routerLink="/"><img src="assets/logo.png" alt="Logo"></a>
            </div>
            <ul>
                <li><a routerLink="" fragment="promocje">PROMOCJE</a></li>
                <li><a routerLink="przez-telefon" fragment="oferta">OFERTA</a></li>
                <li><a routerLink="przez-telefon">ZAKUPY PRZEZ TELEFON</a></li>
                <li><a routerLink="" fragment="kontakt">KONTAKT</a></li>
                <li><a routerLink="login">LOGOWANIE</a></li>
            </ul>
        </div>
        <div class="right-footer">
            <a (click)="scroll()"><i class="fa fa-arrow-up"></i>Powrót do góry</a>
            <p>&copy; Delikatesy u Dzika 2019</p>
        </div>
</footer>
</div>