<div class="container">
    <div class="header">
        <hr>
        <h2>O SKLEPIE</h2>
        <h1>O SKLEPIE</h1>
    </div>
    <div class="flex-container wrap">
        <div class="logo">
            <img src="assets/logo.png" alt="Logo">
        </div>
        <div class="right">
            <p>Na rynku jesteśmy od 2016 roku. Dzięki naszym regionalnym dostawcom mamy codziennie świeże dostawy
                wędlin,
                mięsa, nabialu, warzyw i owoców. W naszej ofercie również posiadamy lokalne miody z gospodarstwa Zielona
                Pasieka mającej certyfikat dzięki któremu jesteśmy pewni, że towar jest najwyższej jakości. Na początku
                2017
                roku po w odpowiedzi na potrzeby naszych klientów postanowiliśmy wprowadzić usługę zakupy na telefon. Ze
                względu na lokalizacje otworzyliśmy okienko kasowe z powodu braku w okolicy poczty oraz banku aby można
                było
                wykonywać przelewy oraz opłacać rachunki przy okazji robienia zakupów. Nasz sklep posiada w ofercie
                około 10
                000 produktów. Wyróżnia nas to iż w posidamy w naszej ofercie produkty mało dostępne na miejscu lub na
                zamówienie.</p>
            <div class="pros">
                <div class="left-ul">
                    <ul>
                        <li><i class="fa fa-plus"></i>częste promocje</li>
                        <li><i class="fa fa-plus"></i>wygodny sklep na małe i duże zakupy</li>
                        <li><i class="fa fa-plus"></i>zostaniesz fachowo i miło obsłużony</li>
                    </ul>
                </div>
                <div class="right-ul">
                    <ul>
                        <li><i class="fa fa-plus"></i>świeże produkty</li>
                        <li><i class="fa fa-plus"></i>zakupy przez telefon</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="services wrap">
        <div class="dobrypunkt">
            <div class="logo"><img src="assets/dobrypunkt.png" alt="Dobrypunkt logo"></div>
            <p>PRZY ZAKUPACH MOŻESZ U NAS RÓWNIEŻ ZAPŁACIĆ RACHUNKI ORAZ ZLECIĆ PRZELEW</p>
        </div>
        <div class="premium">
            <div class="logo"><img src="assets/premium.png" alt="Premium logo"></div>
            <p>ROBIĄC ZAKUPY W NASZYM SKLEPIE MOŻESZ ZDOBYĆ NAGRODY W PROGRAMIE BONUSOWYM PREMIUM</p>
            <small>* za każde wydane 20 zl otrzymujesz znaczek (nie dotyczy alkoholu, wyrobów tytniowycnh i doladowań
                telefonu</small>
        </div>
    </div>