
<div class="container">
<form class="container__form" (submit)="handleBasicAuthLogin()">
		<div class="alert alert-warning" *ngIf='errorMessage'>{{errorMessage}}</div>
	<fieldset>
		<label for="username">Username:</label>
		<input type="text" class="form-control" id="username" name="username" [(ngModel)]="username" />
	</fieldset>
	<fieldset>
		<label for="password">Password:</label>
		<input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" />
	</fieldset>
	<button type="submit" class="btn btn-primary">ZALOGUJ</button>
</form>
</div>