<section id="kontakt">
<!--<div class="clip"></div>-->
<div class="container wrap">
    <div class="header">
        <hr>
        <h2>KONTAKT</h2>
        <h1>KONTAKT</h1>
    </div>
    <div class="flex-container">
        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2515.1864464971422!2d21.376228911361697!3d50.92026794252629!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47180858ec0dce35%3A0x8ba9d22d2fe30efb!2sDelikatesy+u+Dzika!5e0!3m2!1spl!2spl!4v1566577342785!5m2!1spl!2spl"
                width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="info">
            <p><a href="tel:575780402"><i class="fa fa-phone"></i>+48 575 780 402</a></p>
            <p><i class="fa fa-map-marker"></i>ul. Langiewicza 65, Szewna</p>
        </div>
    </div>
</div>
</section>