   
   <div class="wrap mt1">
        <div class="header">
            <h2>ZAKUPY PRZEZ TELEFON</h2>
            <h1>PRZEZ TELEFON</h1>
        </div>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sollicitudin eros vel
            leo venenatis porta. Nam
            nisi ante, malesuada id porttitor non, commodo eu lorem. Nullam nec arcu malesuada, tristique nisi sed,
            fringilla quam. Duis sodales leo eros, eu euismod diam fringilla at. Maecenas ornare a arcu at viverra. In
            bibendum lectus consectetur justo accumsan, faucibus placerat lectus aliquet. Vivamus venenatis diam
            dignissim,
            sodales leo id, iaculis dolor. Sed dolor dolor, suscipit blandit urna eu, ornare convallis mi. Curabitur
            fringilla mollis est, nec pulvinar neque porttitor quis.</p>
    </div>
    <section class="instructions">
        <div class="flex-container wrap">
            <div class="instruction">
                <h4>Jak dokonać zakupów?</h4>
                <ol>
                    <li>Zapoznaj się z naszą oferta</li>
                    <li>Przygotuj listę zakupów</li>
                    <li>Wybierz numer telefonu do sklepu i zadzwoń</li>
                    <li>Podaj obsłudze listę zakupów</li>
                    <li>Podaj obsłudze adres, numer telefonu i godziny w jakich chcesz otrzymać zamówiony towar</li>
                    <li>Podaj sposób płatności</li>
                    <li>Czekaj na dostawę i zapłać przy odbiorze</li>
                </ol>
            </div>
            <div class="instruction">
                <h4>Zasady zakupów przez telefon</h4>
                <ul>
                    <li>Minimalna wartość zakupów 30zl (nie dotyczy alkoholu, papierosów i doladowań telefonu)</li>
                    <li>Koszt dowozu na terenie miasta to 3 zl, poza terenem miasta do uzgodnienia</li>
                    <li>Możliwość platnosci kartą</li>
                    <li>Możliwość platnosci gotówką</li>
                </ul>
            </div>
        </div>
    </section>
    <app-products-list></app-products-list>
    <section class="contact container">
        <p>Zamówienia przyjmujemy w godzinach od 10:00 - 18:00</p>
        <p>Aby dokonać zamówienia zadzwoń na nr</p>
        <a href="tel:575780402"><i class="fa fa-phone"></i>+48 575 780 402</a>
    </section>
