<section id="oferta" class="container wrap">
    <div class="header">
        <hr>
        <h2>NASZA OFERTA</h2>
        <h1>OFERTA</h1>
    </div>
    <div class="products">
        <div class="categories">
            <div class="category">
                <button class="showBtn">Owoce</button>
            </div>
            <div class="category">
                <button class="showBtn">Owoce</button>
            </div>
            <div class="category">
                <button class="showBtn">Owoce</button>
            </div>
        </div>
        <div class="products-list">
            <ul>
                <li>Jabłka</li>
                <li>Marchewki</li>
                <li>Gruszki</li>
            </ul>
        </div>
    </div>
    <div class="przez-telefon">
        <a routerLink="/przez-telefon"><i class="fa fa-shopping-cart"></i>ZAKUPY PRZEZ TELEFON</a>
    </div>
</section>